*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins',sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B");
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 9%;
    z-index: 100;
}
#logo{
    font-size: 3rem;
    color: rgb(21, 95, 231);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
}
nav a:hover,
nav a.active{
    color: rgb(21, 95, 231);
    border-bottom: 3px solid rgb(21, 95, 231);
}
@media(max-width:995px){
    nav{
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid brown;
        border-top-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a:active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}
.home #intro h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home p{
    font-size: 1.5rem;
}
span{
    color: rgb(21, 95, 231);
}
.home #intro h3{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}
.home .js span{
    color: yellow;
}
.home .htmlcss h1 span{
    color: rgb(227,78,38);
}
.home .htmlcss h3 span{
    color: rgb(0,112,186);
}
.skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.skills h1{
    font-size: 5rem;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#p1{
    margin-right: 50px;
}
#p1 span{
    color: rgb(93,85,216);
}
#p2{
    margin-left: 50px;
}
#p2 span{
    color: rgb(47,234,193);
}
#p3 span{
    color: rgb(255,223,95);
}
#p4 span{
    color: rgb(200,102,234);
}
#image{
    border-radius: 50%;
}
#image img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid brown ;
    cursor: pointer;
    transition: 0.2s linear;
}

#image img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}
#socials a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid;
    font-size: 2rem;
    border-radius: 20%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: rgb(21, 95, 231);
}

#aboutbtn{
    background-color: rgb(21, 95, 231);
    color: white;
    font-size: 1.8rem;
    border-radius: 15px;
    padding: 5px 10px;
}

